.footer {
    padding-top: var(--spacing-md);
    margin-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    background-color: var(--color-bg-secondary);
}

.footer-content {

}

.footer-logo {

}

.footer-contact {

}

.footer-column{

}

.footer-socials {

}

.footer-icon {

}

.footer-legal {

}