.icon-btn {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease, backround-color 0.2s ease;
}

.icon-btn--default {
    padding: 0.5rem;
    opacity:0.85;
}

.icon-btn--default:hover {
    opacity: 1;
}

.icon-btn--round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-btn--round:hover {
    background-color: rgba(255, 255, 255, 0.1);
}